<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.owl.shiro.dao.OwlPermissionDao" >

  <resultMap id="BaseResultMap" type="com.owl.shiro.model.OwlPermission">
    <!-- 请添加所需要的属性-->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="permission_url" property="permissionUrl" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Table_ID_Name">
        id
    </sql>
  <sql id="Table_Name">
        owl_permission
    </sql>
  <sql id="Base_Column_List">
    <include refid="Table_ID_Name"/> ,
    permission_url
  </sql>
  <sql id="Order_Name">
        permission_url
    </sql>
  <sql id="Select_Like">
    <trim prefix="where" suffixOverrides="and">
      <if test="null != model">
        <choose>

          <when test="null != model.id">
            <include refid="Table_ID_Name"/>  = #{model.id}
          </when>

          <otherwise>

            <if test="null != model.permissionUrl">
              (permission_url like CONCAT(CONCAT('%',#{model.permissionUrl}),'%'))
              AND
            </if>

          </otherwise>
        </choose>
      </if>
    </trim>
  </sql>

  <sql id="Select_Exact">
    <trim prefix="where" suffixOverrides="and">
      <if test="null != model">
        <choose>

          <when test="null != model.id">
            <include refid="Table_ID_Name"/>  = #{model.id}
          </when>

          <otherwise>

            <if test="null != model.permissionUrl">
              permission_url = #{model.permissionUrl
              AND
            </if>

          </otherwise>
        </choose>
      </if>
    </trim>
  </sql>

  <insert id="insertSelective" parameterType="com.owl.shiro.model.OwlPermission">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID()
    </selectKey>
    insert into <include refid="Table_Name"/>
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="permissionUrl != null">
        permission_url,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="permissionUrl != null">
        #{permissionUrl},
      </if>

    </trim>
  </insert>

  <!-- 请添加所需要的属性-->
  <insert id="insertList">
    insert into <include refid="Table_Name"/>
    (

    permission_url
    )
    values
    <foreach collection="modelList" item="model" separator=",">
      (

      #{model.permissionUrl}
      )
    </foreach>
  </insert>

  <update id="updateBySelective">
    update <include refid="Table_Name"/>
    <set>
      <if test="permissionUrl != null">
        permission_url = #{permissionUrl,jdbcType=VARCHAR},
      </if>

    </set>
    where <include refid="Table_ID_Name"/> = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteBySelective">
    delete from <include refid="Table_Name"/>
    <trim prefix="where" suffixOverrides="and">
      <if test="id != null">
        <include refid="Table_ID_Name"/> = #{id}
      </if>
    </trim>
  </delete>


  <!-- 以下不需要改變  -->


  <delete id="deleteByIdList">
    delete from <include refid="Table_Name"/>

    WHERE <include refid="Table_ID_Name"/> IN
    <foreach collection="idList" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <select id="selectBySelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from <include refid="Table_Name"/>
    <include refid="Select_Like"/>
    ORDER BY CONVERT(<include refid="Order_Name"/> using gbk) ASC
  </select>

  <select id="selectByExact" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from <include refid="Table_Name"/>
    <include refid="Select_Exact"/>
    ORDER BY CONVERT(<include refid="Order_Name"/> using gbk) ASC
  </select>

  <select id="countSumByCondition" resultType="java.lang.Integer">
    select count(<include refid="Table_ID_Name"/>) from
    <include refid="Table_Name"/>
    <include refid="Select_Like"/>
  </select>

  <select id="listByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from <include refid="Table_Name"/>
    <include refid="Select_Like"/>
    ORDER BY CONVERT(<include refid="Order_Name"/> using gbk) ASC
    limit #{upLimit},#{rows}
  </select>




  <select id="permissionListByRole" resultMap="BaseResultMap">
    select a.id,a.permission_url
    from owl_permission a
    LEFT JOIN owl_role_permission b
    ON b.permission_id = a.id
    LEFT JOIN owl_role c
    ON b.role_id = c.id
    WHERE c.id IN
    <foreach collection="idList" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

</mapper>