<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.owl.shiro.dao.OwlRolePermissionDao">
    <resultMap id="BaseResultMap" type="com.owl.shiro.model.OwlRolePermission">
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="permission_id" property="permissionId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Table_Name">
        owl_role_permission
    </sql>
    <sql id="Table_Own_Id">
        role_id
    </sql>
    <sql id="Table_Oth_Id">
        permission_id
    </sql>
    <sql id="Own_Id">
        #{model.roleId}
    </sql>
    <sql id="Oth_Id">
       #{model.permissionId}
    </sql>

    <sql id="Choose_Id">
        <if test="model.roleId != null">
            <include refid="Table_Own_Id"/>
            = <include refid="Own_Id"/>
            and
        </if>
        <if test="model.permissionId != null">
            <include refid="Table_Oth_Id"/>
            = <include refid="Oth_Id"/>
        </if>
    </sql>
    <!-- 以下不需要改變  -->
    <select id="selectBySelective" resultMap="BaseResultMap">
        select
        <include refid="Table_Own_Id"/>,   <include refid="Table_Oth_Id"/>
        from <include refid="Table_Name"/>
        <trim prefix="where" suffixOverrides="and">
            <include refid="Choose_Id"/>
        </trim>
    </select>

    <!-- 请添加所需要的属性-->
    <insert id="insertList">
        insert into <include refid="Table_Name"/>
        (
        <include refid="Table_Own_Id"/>,   <include refid="Table_Oth_Id"/>
        )
        values
        <foreach collection="modelList" item="model" separator=",">
            (
            <include refid="Own_Id"/>, <include refid="Oth_Id"/>
            )
        </foreach>
    </insert>

    <insert id="insertRelation">
        insert into <include refid="Table_Name"/>
        (
        <include refid="Table_Own_Id"/>,   <include refid="Table_Oth_Id"/>
        )
        values
        <foreach collection="idList" item="it" separator=",">
            (
            #{id,jdbcType=BIGINT},#{it,jdbcType=BIGINT}
            )
        </foreach>
    </insert>


    <delete id="delete">
        delete from <include refid="Table_Name"/>
        <trim prefix="where" suffixOverrides="and">
            <include refid="Choose_Id"/>
        </trim>
    </delete>


    <delete id="deleteList">
        delete from <include refid="Table_Name"/>
        <trim prefix="where">
            <foreach collection="modelList" item="model" separator="or">
                <trim prefix="(" suffix=")" prefixOverrides="(" suffixOverrides=")">
                    <trim suffixOverrides="and">
                        <include refid="Choose_Id"/>
                    </trim>
                </trim>
            </foreach>
        </trim>
    </delete>


    <delete id="deleteRelation">
        delete from <include refid="Table_Name"/>
        where
        <if test="null != id">
            <include refid="Table_Own_Id"/>= #{id}
            and
        </if>
        <include refid="Table_Oth_Id"/>  in
        <trim prefix="(" suffix=")" prefixOverrides="(" suffixOverrides=")">
            <foreach collection="idList" item="it" separator=",">
                #{it,jdbcType=BIGINT}
            </foreach>
        </trim>
    </delete>
</mapper>