<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
					http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <!--安全管理-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="owlShiroRealm"/>
        <!-- 使用下面配置的缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <!--自定义Realm-->
    <bean id="owlShiroRealm" class="com.owl.shiro.realm.OwlShiroRealm"/>

    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <!--自定义的filter-->
    <bean id="owlAuthorizationFilter" class="com.owl.shiro.realm.OwlAuthorizationFilter"/>

    <!--shiro 过滤器-->
    <bean id="shiroFilter" class="com.owl.shiro.factory.ShiroPermissionFactory">
        <!-- Shiro过滤器的核心安全接口，这个属性是必须的-->
        <property name="securityManager" ref="securityManager"/>
        <!--身份认证失败，则跳转到登录页面的配置-->
        <!-- <property name="loginUrl" value="/auth/noSignin"/>-->
        <!--权限认证失败，则跳转到指定页面-->
        <!--<property name="unauthorizedUrl" value="/auth/permissionDefined"/>-->
        <!-- 添加自定义过滤器，此过滤器用于权限校验 -->
        <property name="filters">
            <!-- <map>
                 <entry key="roles">
                     <bean class="com.owl.shiro.realm.OwlAuthorizationFilter"/>
                 </entry>
             </map>-->
            <util:map>
                <entry key="roles" value-ref="owlAuthorizationFilter"/>
            </util:map>
        </property>
        <!-- Shiro连接约束配置，即过滤链的定义-->
        <property name="filterChainDefinitions">
            <value>
                <!-- /auth/**=anon
                 /organizationAttest/applyAttest = anon
                 /organizationAttest/attest = user
                 /organizationAttest/updateApply = user
                 &lt;!&ndash;/organizationAttest/details = anon&ndash;&gt;
                 /organizationAttest/list = user

                 /user/**=user
                 /role/**=user
                 /permission/**=user
 -->
                <!-- /auth/signin=anon
                 /auth/signout=user
                 /auth/test=perms[document:read]
                 /login=anon
                 /user/admin*=autho
                 /user/student*/**=roles[teacher]
                 /user/teacher*/**=perms["user:create"]-->
            </value>
        </property>
    </bean>

    <!-- 开启shiro注解支持 -->
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>


    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.apache.shiro.authz.UnauthorizedException">
                    /auth/permissionDefined
                </prop>
                <prop key="org.apache.shiro.authz.UnauthenticatedException">
                    /auth/permissionDefined
                </prop>
            </props>
        </property>
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>